

table {
  width: 100%;
  max-width: 600px;

  .title {
    background-color: #e1e1e1;
    

    td {
      padding: 10px;
      text-align: center;
      font-weight: bold;
    }
  }
}

table td {
  border: 1px solid rgba(0,0,0,0.2);
}

.center {
  text-align: center;
}

.danger {
  background-color: red;
  color: #fff;
}